{% extends 'admin/master.html' %}

{% block body %}

<script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/html5-qrcode.min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/checkin.js') }}" type="text/javascript"></script>

<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">

<h3>Регистрация волонтера</h3>
<button type="button" class="btn btn-success" onclick="start_scan_invite();">Зарегистрировать</button>

<h3>Открыть волонтера по QR коду</h3>
<button type="button" class="btn btn-success" onclick="open_vol_by_QR();">Открыть</button>

<h3>Открыть QR код</h3>
<button type="button" class="btn btn-success" onclick="open_qr_by_QR();">Открыть</button>

<h3>Открыть баланс питания</h3>
<button type="button" class="btn btn-success" onclick="open_feedb_by_QR();">Открыть</button>

<div id="reader" class="qr">
	
</div>

<div id="fst_qr"></div>

{% endblock %}

