{% extends 'admin/master.html' %}

{% block body %}

<script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}" type="text/javascript"></script>

<h3>Регистрация волонтера</h3>
<button type="button" class="btn btn-success" onclick="location.href='/admin/checkin';">Начать</button>

<h3>Добавление баланса питания</h3>
<button type="button" class="btn btn-success">Начислить</button>

<h3>Синхронизация с AirTables</h3>
<button type="button" class="btn btn-success">Синхронизировать</button>



{% endblock %}

