<!DOCTYPE html>
<html>
<head>
	<title>yclins</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css">
</head>
<body>
	<header>
		<h1>yclins</h1>
	</header>
	<section>
		<form class="form-login" action="/login" method="POST">
			<div class="form-element">
				<input type="text" name="user" placeholder="логин">
			</div>
			<div class="form-element">
				<input type="password" name="pwd" placeholder="пароль">
			</div>
			<button>Вход</button>
		</form>
	</section>
</body>
</html>